#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;
}

h2{
  margin-block-start: 50px;
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 150px;
}

.mainLayout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  
}

.uploadArea{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: fit-content;
}
.uploadArea form{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap:20px;
}

.categoryBox{
  display: inline-block;
  background-Color: gray;
  padding: 5px;
  border-radius: 4px;
}
.categoryLine{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
